<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>
    <style>
        body {
            background: linear-gradient(to right, black, red);  /* Gradiente preto para vermelho */
            text-align: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>

    <h1>Welcome to the Ranking Page!</h1>

</body>
</html>
